<html>
  <head></head>
  <body>
    <form>
      <input type='text' name = 'phrase' />
      <input type='submit' value = 'Cipher!' />
    </form>

    <p>
      <%= encrypted unless encrypted.to_s.empty?%>
    </p>
  <body>
</html>